/* Look in the assets folder at the root of the repo for the icomoon.zip,
   which contains the selection.json you can use to update the icons. */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?4vjlaj');
	src:url('../fonts/icomoon/icomoon.eot?4vjlaj#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?4vjlaj') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?4vjlaj') format('woff'),
		url('../fonts/icomoon/icomoon.svg?4vjlaj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-formulate-button:before {
	content: "\e911";
}
.icon-formulate-email:before {
	content: "\e910";
}
.icon-formulate-conform:before {
	content: "\e90f";
}
.icon-formulate-value-group:before {
	content: "\e90e";
}
.icon-formulate-value:before {
	content: "\e90d";
}
.icon-formulate-validation:before {
	content: "\e90c";
}
.icon-formulate-validation-group:before {
	content: "\e90a";
}
.icon-formulate-drop-down:before {
	content: "\e90b";
}
.icon-formulate-layout-group:before {
	content: "\e906";
}
.icon-formulate-layout:before {
	content: "\e907";
}
.icon-formulate-form-group:before {
	content: "\e908";
}
.icon-formulate-layouts:before {
	content: "\e901";
}
.icon-formulate-clipboard:before {
	content: "\e900";
}
.icon-formulate-data:before {
	content: "\e902";
}
.icon-formulate-values:before {
	content: "\e905";
}
.icon-formulate-validations:before {
	content: "\e903";
}
.icon-formulate-forms:before {
	content: "\e904";
}
.icon-formulate-form:before {
	content: "\e909";
}