.formulate-cell {
    margin: 0 10px 10px 0;
    padding: 5px;
    border: 1px dotted #888;
    min-height: 34px;
}

.formulate-cell-field {
    background-color: #eee;
    padding: 3px;
    margin: 3px;
}

.formulate-cell.editing-rows {
    background-color: #eee;
    border: none;
}

.formulate-cell.editing-rows .formulate-cell-field {
    background-color: transparent;
}

.formulate-cell.editing-rows .formulate-cell-field-name {
    text-decoration: underline;
}