<form novalidate name="formulateLayoutDesigner"
        ng-submit="save()"
        val-form-manager
        >
    <umb-load-indicator ng-if="loading"></umb-load-indicator>
    <umb-editor-view ng-if="!loading">
        <umb-editor-header name="entity.name"
                            alias="entity.alias"
                            hide-icon="true"
                            hide-description="true">
        </umb-editor-header>

        <umb-editor-container>
            <div class="form-horizontal">
                <div class="umb-group-panel">
                    <div class="umb-group-panel__header">
                        Settings
                    </div>
                    <div class="umb-group-panel__content">
                        <div class="control-group umb-control-group -no-border">
                            <div class="umb-el-wrap">
                                <div class="control-header">
                                    <label class="control-label" for="template">
                                        <localize key="formulate-labels_Template">Template</localize>
                                    </label>
                                </div>
                                <div class="controls">
                                    <select ng-options="option.id as option.name for option in templates" ng-model="entity.templateId" name="template">
                                        <option value="">
                                            <localize key="formulate-options_Select a Template">
                                                Select a Template
                                            </localize>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <formulate-layout-editor ng-if="entity.directive && form"
                                        directive="entity.directive"
                                        form="form"
                                        data="entity.data">
            </formulate-layout-editor>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button alias="save"
                            type="submit"
                            button-style="success"
                            state="saveButtonState"
                            shortcut="ctrl+s"
                            label-key="formulate-buttons_Save"
                            disabled="!canSave()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>