<div>
    <umb-load-indicator ng-if="!initialized"></umb-load-indicator>
    <form novalidate name="formulateValidationDesigner"
          ng-submit="save()"
          val-form-manager>
        <umb-editor-view ng-if="initialized">
            <umb-editor-header name="info.validationName"
                               alias="info.validationAlias"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="false">
            </umb-editor-header>
            
            <umb-editor-container>
                <div class="form-horizontal">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__content">
                            <formulate-validation-editor ng-if="directive"
                                                         directive="directive"
                                                         data="data">
                            </formulate-validation-editor>
                        </div>
                    </div>
                </div>
            </umb-editor-container>
            
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button alias="save"
                                type="submit"
                                button-style="success"
                                shortcut="ctrl+s"
                                label-key="formulate-buttons_Save"
                                disabled="!canSave()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>