<div class="umb-el-wrap">
    <label class="control-label">
        <localize key="formulate-labels_Data Value">
            Data Value
        </localize>
    </label>
    <div class="controls controls-row">
        <div>
            {{dataValue.name}}
        </div>
        <div>
            <a class="btn link" href ng-click="pickDataValue()">
                <localize key="formulate-buttons_Pick Data Value">
                    Pick Data Value
                </localize>
            </a>
        </div>
    </div>
    <label class="control-label">
        <localize key="formulate-labels_Orientation">
            Orientation
        </localize>
    </label>
    <div class="controls controls-row">
        <select ng-options="option.value as option.label for option in orientations.values" ng-model="configuration.orientation">
            <option value="" formulate-inject-localization="formulate-options_Select an Orientation">
            </option>
        </select>
    </div>
</div>