<div>
    <div>

        <!-- Buttons (pick form, and edit rows). -->
        <button type="button" class="btn btn-default" ng-click="pickForm()">Pick Form</button>
        <button ng-if="!editRows" type="button" class="btn btn-default" ng-click="toggleEditRows()">
            <localize key="formulate-labels_Edit Rows">
                Edit Rows
            </localize>
        </button>
        <button ng-if="editRows" type="button" class="btn btn-default" ng-click="toggleEditRows()">
            <localize key="formulate-labels_Edit Fields">
                Edit Fields
            </localize>
        </button>

        <!-- Checkbox for "Autopopulate?" -->
        <div class="formulate-autopopulate-layout-checkbox">
            <label>
                <input type="checkbox" ng-model="data.autopopulate" />
                Autopopulate?
                <small>
                    Should the layout be automatically populated from the fields in the
                    form? This is more convenient, but gives you less control over the
                    layout (e.g., splitting the fields into rows and columns).
                </small>
            </label>
        </div>

        <!-- Add row section. -->
        <div class="formulate-add-row-section" ng-if="!data.autopopulate">

            <!-- Add row instructions. -->
            <p>
                <localize key="formulate-instructions_Add Sample Columns Below">
                    The row will be added using the columns that you specify below.
                    Click a cell to split or join adjacent cells.
                </localize>
            </p>

            <!-- The button and the neighboring cells. -->
            <div class="formulate-add-row-button-and-cells">

                <!-- Add row button. -->
                <button type="button" class="btn btn-default btn-add-row" ng-click="addRow(sampleCells)">
                    <localize key="formulate-buttons_Click to Add Row">
                        Click to Add Row
                    </localize>
                </button>

                <!-- Sample cells for new rows. -->
                <div class="row sample-cells">
                    <div ng-repeat="cell in sampleCells" class="span1">
                        <div ng-class="getSampleCellClasses(sampleCells, $index)" ng-click="toggleCell(sampleCells, $index)">
                            {{$index + 1}}
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <h2 ng-if="!data.autopopulate">
        <localize key="formulate-headers_Layout">
            Layout
        </localize>
        <small>
            <localize key="formulate-header-descriptions_Layout">
                Organize your fields into rows and columns.
            </localize>
        </small>
    </h2>
    <div ui-sortable="rowsSortableOptions" ng-model="rows" ng-if="!data.autopopulate">
        <div ng-repeat="(rowIndex, row) in rows" class="row">
            <div ng-repeat="cell in row.cells" ng-class="getCellClass(row, cell)">

                <!-- Show full fields when editing fields. -->
                <div ng-if="!editRows" class="formulate-cell" ui-sortable="fieldSortableOptions" ng-model="cell.fields">
                    <div ng-repeat="field in cell.fields" class="formulate-cell-field">
                        {{field.name}}
                    </div>
                </div>

                <!-- Show field summaries when editing rows. -->
                <div ng-if="editRows" class="formulate-cell editing-rows">
                    <span ng-repeat="field in cell.fields" class="formulate-cell-field">
                        <span class="formulate-cell-field-name">{{field.name}}</span>
                    </span>
                    <div>
                        <button type="button" ng-click="deleteRow(rowIndex)" ng-if="$index === 0" class="btn btn-danger">
                            <localize key="formulate-buttons_Delete Row">
                                Delete Row
                            </localize>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-if="!data.autopopulate">
        <h2>
            <localize key="formulate-headers_Unused Fields">
                Unused Fields
            </localize>
            <small>
                <localize key="formulate-header-descriptions_Unused Fields">
                    These are the fields you are not using for this layout.
                </localize>
            </small>
        </h2>

        <!-- Unused fields. -->
        <div class="formulate-cell" ui-sortable="fieldSortableOptions" ng-model="unusedFields">
            <div ng-repeat="field in unusedFields" class="formulate-cell-field">
                <button type="button" class="btn btn-default formulate-btn-use" ng-click="useField($index)">
                    <localize key="formulate-buttons_Use">
                        Use
                    </localize>
                </button>
                {{field.name}}
            </div>
        </div>

    </div>
</div>