<div>
    <div ui-sortable="rowsSortableOptions" ng-model="rows">
        <div ng-repeat="(rowIndex, row) in rows" class="row">
            <div ng-repeat="cell in row.cells" ng-class="getCellClass(row, cell)">

                <!-- Show full fields when editing fields. -->
                <div ng-if="!editRows" class="formulate-cell" ui-sortable="fieldSortableOptions" ng-model="cell.fields">
                    <div ng-if="!editRows">
                        <div ng-repeat="field in cell.fields" class="formulate-cell-field">
                            {{field.name}}
                        </div>
                    </div>
                </div>

                <!-- Show field summaries when editing rows. -->
                <div ng-if="editRows" class="formulate-cell editing-rows">
                    <span ng-repeat="field in cell.fields" class="formulate-cell-field">
                        <span class="formulate-cell-field-name">{{field.name}}</span>
                    </span>
                    <div>
                        <button type="button" ng-click="deleteRow(rowIndex)" ng-if="$index === 0" class="btn btn-danger">
                            <localize key="formulate-buttons_Delete Row">
                                Delete Row
                            </localize>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>

        <!-- Pick form button. -->
        <label>
            <input
                type="checkbox"
                ng-model="editRows"
                id="editRows" />
            <localize key="formulate-labels_Edit Rows">
                Edit rows?
            </localize>
        </label>
        <button type="button" class="btn btn-default" ng-click="pickForm()">Pick Form</button>

        <!-- Add row section. -->
        <div class="formulate-add-row-section">

            <!-- Add row button. -->
            <button type="button" class="btn btn-default" ng-click="addRow(sampleCells)">
                <localize key="formulate-buttons_Add Row">
                    Add Row
                </localize>
            </button>

            <!-- Add row instructions. -->
            <p>
                <localize key="formulate-instructions_Add Sample Columns Below">
                    The row will be added using the columns that you specify below.
                    Click a cell to split or join adjacent cells.
                </localize>
            </p>

            <!-- Sample cells for new rows. -->
            <div class="row">
                <div ng-repeat="cell in sampleCells" class="span1">
                    <div ng-class="getSampleCellClasses(sampleCells, $index)" ng-click="toggleCell(sampleCells, $index)">
                        {{$index + 1}}
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>