# Node modules.
node_modules/

# Folder created by NuGet.
**/App_Data/NuGetBackup/

# Visual Studio packages.
**/packages/*/

# Visual Studio build artifacts.
bin/
obj/

# Grunt build artifacts.
src/formulate.app/App_Plugins/formulate/formulate.js
src/formulate.app/App_Plugins/formulate/formulate.css
src/formulate.app/App_Plugins/formulate/responsive.bootstrap.angular.js
src/formulate.app/App_Plugins/formulate/responsive.bootstrap.angular.min.js
src/formulate.app/App_Plugins/formulate/responsive.plain-javascript.js
src/formulate.app/App_Plugins/formulate/responsive.plain-javascript.min.js
src/FormulateTemp/
dist/
frontendDocs/

# Visual Studio solution user options.
*.suo

# Visual Studio project user options.
*.csproj.user

# Visual Studio configuration.
.vs/

# WebStorm.
.idea

# Temporary test folders.
#TODO: Review this.
#/source/
#/dest/

# Sample website files/folders.
**/Website/bin/
**/Website/obj/
**/Website/Umbraco/
#TODO: Review these.
#**/Website/Media/
#**/Website/App_Plugins/
#**/Website/Views/*
**/Website/Views/Partials/Grid/*
#TODO: Review these.
**/Website/Media/
#**/Website/App_Data/Umbraco.sdf
#**/Website/App_Data/cache/
**/Website/App_Data/Formulate/
**/Website/App_Data/TEMP/TypesCache/
**/Website/App_Data/packages/
**/Website/App_Data/TEMP/ClientDependency/
**/Website/App_Data/TEMP/DistCache/
**/Website/App_Data/TEMP/ExamineIndexes/
**/Website/App_Data/TEMP/NuCache/
**/Website/App_Data/Logs/
**/Website/App_Data/Umbraco.sdf
**/Website/App_Data/cache/
**/Website/App_Data/Models/
**/Website/App_Plugins/formulate/*.js
**/Website/App_Plugins/formulate/*.css
**/Website/App_Plugins/formulate/*.manifest
**/Website/App_Plugins/formulate/backoffice/formulate/
**/Website/App_Plugins/formulate/dashboards/
**/Website/App_Plugins/formulate/dialogs/
**/Website/App_Plugins/formulate/fonts/icomoon/
**/Website/App_Plugins/formulate/Lang/
**/Website/App_Plugins/formulate/editors/
**/Website/App_Plugins/formulate/menu-actions/
**/Website/App_Plugins/OsmMaps/
**/Website/App_Plugins/StarterKit/
**/Website/css/
**/Website/scripts/
**/Website/Views/

#TODO: Review these.
# Generated config files.
#web.config
#applications.config
#ClientDependency.config
#Dashboard.config
#trees.config

# Allow some views.
!**/Website/Views/Partials/
!**/Website/Views/Partials/Formulate/