# Node modules.
node_modules/

# Folder created by NuGet.
**/App_Data/NuGetBackup/

# Visual Studio packages.
**/packages/*/

# Visual Studio build artifacts.
bin/
obj/

# Grunt build artifacts.
src/formulate.app/App_Plugins/formulate/formulate.js
src/formulate.app/App_Plugins/formulate/formulate.css
src/formulate.app/App_Plugins/formulate/responsive.bootstrap.angular.js
src/formulate.app/App_Plugins/formulate/responsive.bootstrap.angular.min.js
src/formulate.app/App_Plugins/formulate/responsive.plain-javascript.js
src/formulate.app/App_Plugins/formulate/responsive.plain-javascript.min.js
src/FormulateTemp/
dist/
frontendDocs/

# Visual Studio solution user options.
*.suo

# Visual Studio project user options.
*.csproj.user

# Visual Studio configuration.
.vs/

# WebStorm.
.idea

# Temporary test folders.
#TODO: Review this.
#/source/
#/dest/

# Sample website files/folders.
**/Website/bin/
**/Website/obj/
**/Website/Umbraco/
#TODO: Review these.
#**/Website/Media/
#**/Website/App_Plugins/
#**/Website/Views/*
**/Website/Views/Partials/Grid/*
#TODO: Review these.
#**/Website/App_Data/Umbraco.sdf
#**/Website/App_Data/cache/
**/Website/App_Data/Formulate/

#TODO: Review these.
# Generated config files.
#web.config
#applications.config
#ClientDependency.config
#Dashboard.config
#trees.config

# Allow some views.
!**/Website/Views/Partials/
!**/Website/Views/Partials/Formulate/