<?xml version="1.0" encoding="utf-8" ?>
<email>
  <!--Configuration of System.Net.Mail.MailMessage.Headers-->
  <headers>
    <!-- The "{Guid.NewGuid()}" string is a special placeholder that will be replaced with a new GUID. -->
    <!--<add name="Message-ID" value="{Guid.NewGuid()}@formulate.com"/>-->
    <!--<add name="X-Mailer" value="Some Static Value 1.0"/>-->
  </headers>
</email>