<?xml version="1.0" encoding="utf-8" ?>
<email enabled="false">
  <!--Configuration of System.Net.Mail.MailMessage to be used to wrap messages-->
  <mailmessage>
    <headers>
      <add name="Message-ID" value="{Guid.NewGuid()}orsomething@formulate.com"/>
      <add name="X-Mailer" value="CorVel Communications Mailer 1.0"/>
    </headers>
  </mailmessage>
</email>