<?xml version="1.0" encoding="utf-8" ?>
<!-- Set enabled to true to filter emails by the whitelist. -->
<emailWhitelist enabled="false">
  <!-- You can whitelist emails by their full address. -->
  <email email="person@domain.com" />
  <!-- You can also whitelist emails by their domain. -->
  <email domain="site.com" />
</emailWhitelist>