<?xml version="1.0" encoding="utf-8" ?>
<templates>
    <template id="0088536F694C4C4E949EBF6B91D32B59" name="Responsive" path="~/Views/Partials/Formulate/Responsive.Bootstrap.Angular.cshtml" />
    <template id="F3FB1485C1D14806B4190D7ABDE39530" name="Responsive (Plain JavaScript)" path="~/Views/Partials/Formulate/Responsive.Plain JavaScript.cshtml" />
</templates>