<div>
    <umb-load-indicator ng-if="!initialized"></umb-load-indicator>

    <form novalidate name="layoutForm"
          ng-submit="save()"
          val-form-manager>

        <umb-editor-view ng-if="initialized">
            <umb-editor-header name="info.layoutName"
                               alias="info.layoutAlias"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="false">
            </umb-editor-header>

            <umb-editor-container>
                <div class="form-horizontal">
                    <formulate-layout-editor ng-if="directive"
                                             directive="directive"
                                             data="data">
                    </formulate-layout-editor>
                </div>
            </umb-editor-container>
            
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button alias="save"
                                type="submit"
                                button-style="success"
                                shortcut="ctrl+s"
                                label-key="formulate-buttons_Save"
                                disabled="!canSave()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>