<div>
    <label>
        <localize key="formulate-labels_Layout Name:">
            Layout Name:
        </localize>
        <div>
            <input type="text" ng-model="layoutName" />
        </div>
    </label>
</div>
<div>
    <label>
        <localize key="formulate-labels_Layout Alias:">
            Layout Alias:
        </localize>
        <div>
            <input type="text" ng-model="layoutAlias" />
        </div>
    </label>
</div>
<select ng-model="kind.id">
    <option ng-repeat="option in kind.kinds" value="{{option.id}}">
        {{option.name}}
    </option>
</select>
<div>
    <button type="button" class="btn btn-primary" ng-disabled="!canCreate()" ng-click="createLayout()">
        <localize key="formulate-buttons_Create Layout">
            Create Layout
        </localize>
    </button>
</div>