<div>
    <label>
        Layout Name:
        <div>
            <input type="text" ng-model="layoutName" />
        </div>
    </label>
</div>
<div>
    <label>
        Layout Alias:
        <div>
            <input type="text" ng-model="layoutAlias" />
        </div>
    </label>
</div>
<select ng-model="kind.id">
    <option ng-repeat="option in kind.kinds" value="{{option.id}}">
        {{option.name}}
    </option>
</select>
<div>
    <button type="button" class="btn btn-primary" ng-disabled="!canCreate()" ng-click="createLayout()">Create Layout</button>
</div>