<div ng-controller="formulate.layoutTypeChooser">
    <div>
        <div>
            <label>
                Layout Name:
                <div>
                    <input ng-model="layoutName" />
                </div>
            </label>
        </div>
        <select ng-model="layout.id">
            <option ng-repeat="option in layout.layouts" value="{{option.id}}">
                {{option.name}}
            </option>
        </select>
    </div>
    <button class="btn btn-primary" ng-disabled="!canCreate()" ng-click="createLayout()">Create Layout</button>
</div>