<div ng-controller="Formulate.Dialogs.EditFormField as vm">
    <umb-editor-view data-element="editor-edit-form-field">

        <form novalidate name="FormulateEditFormFieldForm" class="form-horizontal" val-form-manager>

            <umb-editor-header name="vm.model.name"
                               alias="vm.model.alias"
                               name-locked="false"
                               hide-alias="false"
                               hide-icon="true"
                               hide-description="true"
                               navigation="vm.model.apps">
            </umb-editor-header>

            <umb-editor-container>
                <umb-load-indicator ng-if="vm.loading === true"></umb-load-indicator>

                <div ng-if="vm.loading === false">
                    <div id="sub-view-{{$index}}" ng-repeat="app in vm.model.apps track by app.alias">
                        <umb-editor-sub-view model="app" content="vm">
                        </umb-editor-sub-view>
                    </div>
                </div>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>
                    <umb-button type="button"
                                disabled="!vm.canSave()"
                                button-style="success"
                                label-key="general_submit"
                                shortcut="esc"
                                action="vm.submit()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </form>
    </umb-editor-view>
</div>