<div ng-controller="Formulate.PropertyEditors.FormLayoutPicker">
    <div ng-if="loaded">
        <umb-node-preview ng-if="vm.name"
                          icon="'icon-formulate-layout'"
                          name="vm.name"
                          allow-remove="true"
                          allow-open="false"
                          on-remove="actions.clearFormLayout()">
        </umb-node-preview>

        <button type="button"
                class="umb-node-preview-add"
                ng-if="!vm.name"
                ng-click="actions.pickFormLayout()">
            <localize key="general_add">Add</localize>
        </button>
    </div>
</div>
