<div ng-if="!initialized">
    <localize key="formulate-general_Loading">
        Loading...
    </localize>
</div>
<div ng-if="initialized">
    <div class="formulate__dialog-confirmation-message">
        <formulate-localize-content key="formulate-confirmations_Delete Data Value">
        </formulate-localize-content>
    </div>
    <button type="button" class="btn btn-link" ng-click="cancel()">
        <localize key="formulate-buttons_Cancel">
            Cancel
        </localize>
    </button>
    <button type="button" class="btn btn-danger" ng-click="deleteDataValue()">
        <localize key="formulate-buttons_Delete Data Value">
            Delete Data Value
        </localize>
    </button>
</div>