<div>
    <form novalidate name="formulateConfiguredFormDesigner"
          ng-submit="events.save()"
          val-form-manager>
        <umb-editor-view>

            <!-- Header. -->
            <umb-editor-header name="entity.name"
                               alias="entity.alias"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>

            <!-- Primary content. -->
            <umb-editor-container>
                <div class="form-horizontal">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__content">

                            <!-- Introduction. -->
                            <p>
                                <localize key="formulate-introductions_Configured Form">
                                    A configured form is just a form with a layout and template selected.
                                    To configure this form, select a template and layout below.
                                </localize>
                            </p>

                            <!-- Template. -->
                            <select ng-options="option.id as option.name for option in templates" ng-model="entity.templateId">
                                <option value="" formulate-inject-localization="formulate-options_Select a Template"></option>
                            </select>

                            <!-- Show picked layout. -->
                            <div ng-if="entity.layoutId">
                                <strong>
                                    <localize key="formulate-labels_Layout:">
                                        Layout:
                                    </localize>
                                </strong> {{entity.layoutName}}
                            </div>

                            <!-- Show message indicating no layout has been picked. -->
                            <div ng-if="!entity.layoutId">
                                <localize key="formulate-labels_Layout not chosen">
                                    Layout not yet chosen.
                                </localize>
                            </div>

                            <!-- Show button to pick the layout. -->
                            <button type="button" class="btn btn-default" ng-click="events.pickLayout()">
                                <localize key="formulate-buttons_Pick Layout">
                                    Pick Layout
                                </localize>
                            </button>

                        </div>
                    </div>
                </div>
            </umb-editor-container>

            <!-- Footer with save button. -->
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button alias="save"
                                type="submit"
                                button-style="success"
                                state="saveButtonState"
                                shortcut="ctrl+s"
                                label-key="formulate-buttons_Save"
                                disabled="!events.canSave()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>

        </umb-editor-view>
    </form>
</div>