<div>
    <form novalidate name="formulateConfiguredFormDesigner"
          ng-submit="events.save()"
          val-form-manager>
        <umb-editor-view>

            <!-- Header. -->
            <umb-editor-header name="entity.name"
                               alias="entity.alias"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>

            <!-- Primary content. -->
            <umb-editor-container>
                <div class="form-horizontal">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__header">
                            Settings
                        </div>
                        <div class="umb-group-panel__content">
                            <div class="control-group umb-control-group -no-border">
                                <div class="umb-el-wrap">
                                    <div class="control-header">
                                        <label class="control-label" for="pickLayout">
                                            <localize key="formulate-labels_Layout">Layout</localize>
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <div ng-if="entity.layout && entity.layout.id">
                                            <umb-node-preview name="entity.layout.name"
                                                              allow-remove="true"
                                                              allow-open="false"
                                                              on-remove="events.removeLayout()">
                                            </umb-node-preview>
                                        </div>
                                        <div ng-if="!entity.layout || !entity.layout.id">
                                            <button type="button"
                                                    class="umb-node-preview-add"
                                                    ng-click="events.pickLayout()">
                                                <localize key="formulate-buttons_Select Layout">Select Layout</localize>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group umb-control-group -no-border">
                                <div class="umb-el-wrap">
                                    <div class="control-header">
                                        <label class="control-label" for="template">
                                            <localize key="formulate-labels_Template">Template</localize>
                                        </label>
                                    </div>
                                    <div class="controls">
                                        <select ng-options="option.id as option.name for option in templates" ng-model="entity.templateId" name="template">
                                            <option value="">
                                                <localize key="formulate-options_Select a Template">
                                                    Select a Template
                                                </localize>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </umb-editor-container>

            <!-- Footer with save button. -->
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button alias="save"
                                type="submit"
                                button-style="success"
                                state="saveButtonState"
                                shortcut="ctrl+s"
                                label-key="formulate-buttons_Save"
                                disabled="!events.canSave()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>

        </umb-editor-view>
    </form>
</div>