<div>
    <form novalidate name="formulateFormDesigner"
          ng-submit="events.save()"
          val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="entity.name"
                               alias="entity.alias"
                               hide-icon="true"
                               hide-description="true"
                               navigation="apps"
                               on-select-navigation-item="appChanged(item)">
            </umb-editor-header>

            <umb-editor-container>
                <div class="form-horizontal" ng-if="app.alias == 'Form'">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__header">
                            <div>
                                <localize key="formulate-labels_Fields">Fields</localize>
                            </div>
                        </div>

                        <div class="umb-group-panel__content">

                            <!-- Render all fields. -->
                            <div ui-sortable="sortableOptions" ng-model="fields">

                                <!-- A fieldset for each field. -->
                                <fieldset ng-repeat="field in fields" class="formulate-field {{field.expanded ? 'expanded' : 'collapsed'}}">
                                    <legend class="formulate-field__header">
                                        <div class="formulate-field__header-buttons">
                                            <i class="formulate-field__icon formulate-icon icon-formulate-move formulate-field__drag"></i>
                                            <i class="formulate-field__icon formulate-icon icon-formulate-expand formulate-field__expand" ng-click="events.toggleField(field, $event.currentTarget)"></i>
                                            <i class="formulate-field__icon formulate-icon icon-formulate-delete formulate-field__delete" ng-click="events.deleteField(field)"></i>
                                        </div>
                                        <umb-icon icon="{{field.icon}}" class="formulate-field__type-identifier"></umb-icon>
                                        <umb-editor-header
                                                class="formulate-field__header-title"
                                                name="field.name"
                                                alias="field.alias"
                                                hide-icon="true"
                                                hide-description="true">
                                        </umb-editor-header>
                                    </legend>
                                    <div class="formulate-field-details" ng-style="field.detailsStyle">
                                        <div class="control-group umb-control-group">

                                            <!-- The label for the field. -->
                                            <div class="umb-el-wrap">
                                                <label class="control-label">
                                                    <localize key="formulate-labels_Field Label">
                                                        Field Label
                                                    </localize>
                                                </label>
                                                <div class="controls controls-row">
                                                    <input type="text"
                                                           ng-model="field.label"
                                                           formulate-localize-attribute="placeholder"
                                                           placeholder="formulate-placeholders_Field Label" />
                                                </div>
                                            </div>

                                            <!-- The field category. -->
                                            <div class="umb-el-wrap" ng-if="categories">
                                                <label class="control-label">
                                                    <localize key="formulate-labels_Field Category">
                                                        Field Category
                                                    </localize>
                                                </label>
                                                <div class="controls controls-row">
                                                    <select ng-model="field.category"
                                                            ng-options="option.value as option.label group by option.group for option in categories">
                                                        <option value="" formulate-inject-localization="formulate-options_Select a Field Category"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- The field validations. -->
                                            <div class="umb-el-wrap">
                                                <label class="control-label">
                                                    <localize key="formulate-labels_Validations">
                                                        Validations
                                                    </localize>
                                                </label>
                                                <div class="controls controls-row">
                                                    <ul>
                                                        <li ng-repeat="validation in field.validations">
                                                            {{validation.name}}
                                                        </li>
                                                    </ul>
                                                    <div>
                                                        <a class="btn link" href ng-click="events.pickValidations(field)">
                                                            <localize key="formulate-buttons_Pick Validations">
                                                                Pick Validations
                                                            </localize>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Each field has their own editor. -->
                                            <formulate-field-editor directive="field.directive" configuration="field.configuration">
                                            </formulate-field-editor>

                                        </div>
                                    </div>
                                </fieldset>

                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn" ng-click="events.addField()" ng-disabled="!events.canAddField()" prevent-default>
                                    <localize key="formulate-buttons_Add Field">
                                        Add Field
                                    </localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal" ng-if="app.alias == 'Handlers'">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__header">
                            <div>
                                <localize key="formulate-introductions_Form Handlers">
                                    These are your form's handlers.
                                    Handlers allow you to perform various actions when you submit the form.
                                </localize>
                            </div>
                        </div>

                        <div class="umb-group-panel__content">
                            <div ui-sortable="sortableHandlerOptions" ng-model="handlers">
                                <fieldset ng-repeat="handler in handlers" class="formulate-handler {{handler.expanded ? 'expanded' : 'collapsed'}} {{handler.enabled ? 'enabled' : 'disabled'}}">
                                    <legend class="formulate-handler__header">
                                        <div class="formulate-handler__header-buttons">
                                            <i class="formulate-handler__icon formulate-icon icon-formulate-move formulate-handler__drag"></i>
                                            <i class="formulate-handler__icon formulate-icon icon-formulate-expand formulate-handler__expand" ng-click="events.toggleHandler(handler, $event.currentTarget)"></i>
                                            <i class="formulate-handler__icon formulate-icon icon-formulate-hide formulate-handler__enable" ng-click="events.toggleHandlerEnabled(handler)"></i>
                                            <i class="formulate-handler__icon formulate-icon icon-formulate-delete formulate-handler__delete" ng-click="events.deleteHandler(handler)"></i>
                                        </div>
                                        <umb-icon icon="{{handler.icon}}" class="formulate-handler__type-identifier"></umb-icon>
                                        <umb-editor-header
                                                class="formulate-handler__header-title"
                                                name="handler.name"
                                                alias="handler.alias"
                                                hide-icon="true"
                                                hide-description="true">
                                        </umb-editor-header>
                                    </legend>
                                    <div class="formulate-handler-details" ng-style="handler.detailsStyle">
                                        <div class="control-group umb-control-group">
                                            <formulate-handler-editor directive="handler.directive" configuration="handler.configuration" fields="fields">
                                            </formulate-handler-editor>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- Buttons. -->
                                <div class="btn-group">
                                    <button type="button" class="btn" ng-click="events.addHandler()" ng-disabled="!events.canAddHandler()" prevent-default>
                                        <localize key="formulate-buttons_Add Handler">
                                            Add Handler
                                        </localize>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </umb-editor-container>


            <umb-editor-footer>

                <!--<umb-editor-footer-content-left>

                    <umb-breadcrumbs ng-if="ancestors && ancestors.length > 0"
                                     ancestors="ancestors"
                                     entity-type="media">
                    </umb-breadcrumbs>

                </umb-editor-footer-content-left>-->


                <umb-editor-footer-content-right>

                    <!--<umb-button ng-if="model.infiniteMode"
                                type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="close()">
                    </umb-button>-->
                    <!--<umb-button alias="returnToList"
                                ng-if="page.listViewPath && !model.infiniteMode"
                                type="link"
                                href="#{{page.listViewPath}}"
                                label-key="buttons_returnToList">
                    </umb-button>-->
                    <!-- label-key="buttons_save" -->
                    <umb-button alias="save"
                                type="submit"
                                state="saveButtonState"
                                disabled="!events.canSave()"
                                button-style="success"
                                shortcut="ctrl+s"
                                label-key="formulate-buttons_Save">
                    </umb-button>



                    <!--state="page.saveButtonState"
                    label-key="{{page.submitButtonLabelKey}}"-->

                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>


    </form>
</div>