.formulate-field,
.formulate-handler {
    background-color: #fff;
    border: 1px solid #e9e9eb;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 20px;
}
.formulate-field:hover,
.formulate-handler:hover {
    background-color: #f9f9fa;
}

.formulate-field__header,
.formulate-handler__header {
    display: flex;
    align-content: center;
}

.formulate-field:hover .formulate-field__name, 
.formulate-handler:hover .formulate-handler__name {
    color: #2152a3
}

.formulate-field__header .umb-icon,
.formulate-handler__header .umb-icon {
    display: inline-block;
    font-size: 22px;
    margin-right: 10px;
}
.formulate-field__name,
.formulate-handler__name {
    color: #1b264f;
}

.formulate-field__actions,
.formulate-handler__actions {
    vertical-align: middle;
}

.formulate-field__action,
.formulate-handler__action {
    display: inline-block;
    font-size: 18px;
}

.formulate-handler--disabled {
    opacity: 0.3 !important; /* TODO: Find a better way of providing a disabled state, this conflicts with ui-draggable */
}