.formulate-handler-details,
.formulate-field-details {
    overflow: hidden;
    transition: max-height 0.2s linear;
}

.formulate-handler.quick-expand .formulate-handler-details,
.formulate-field.quick-expand .formulate-field-details {
    /* When in "quick expand" mode, do not perform animations. */
    transition-delay: 0s;
}

.formulate-handler.collapsed .formulate-handler-details,
.formulate-field.collapsed .formulate-field-details {
    max-height: 0;
}

.formulate-handler__header-title {
    position: relative;
    height: 50px;
    border: none;
    padding-left: 0;
}

.formulate-handler__header-title .umb-editor-header__name-and-description {
    margin-right: 0;
}

.formulate-handler__header {
    display: flex;
    padding-bottom: 5px;
}

.formulate-handler__header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.formulate-handler__icon {
    height: 22px;
}

.formulate-icon.icon-formulate-store-data {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}