<div>
    <form novalidate name="formulateFormDesigner"
          ng-submit="events.save()"
          val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="entity.name"
                               alias="entity.alias"
                               hide-icon="true"
                               hide-description="true"
                               navigation="apps"
                               on-select-navigation-item="appChanged(item)">
            </umb-editor-header>

            <umb-editor-container>
                <div class="form-horizontal" ng-if="app.alias == 'Form'">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__header">
                            <div>
                                <localize key="formulate-labels_Fields">Fields</localize>
                            </div>
                        </div>

                        <div class="umb-group-panel__content">
                            <!-- Render all fields. -->
                            <div ui-sortable="sortableOptions" ng-model="fields">
                                <!-- A fieldset for each field. -->
                                <div ng-repeat="field in fields" class="formulate-field">
                                    <div class="formulate-field__header">
                                        <umb-icon icon="{{field.icon}}"></umb-icon>
                                        <span class="formulate-field__name">
                                            {{field.name}} <small>({{field.alias || 'no alias provided'}})</small>
                                        </span>
                                    </div>

                                    <div class="formulate-field__actions">
                                        <button ng-click="events.editField(field)" class="btn-reset formulate-field__action" prevent-default>
                                            <umb-icon icon="icon-settings"></umb-icon>
                                        </button>

                                        <button ng-click="events.deleteField(field)" class="btn-reset formulate-field__action" prevent-default>
                                            <umb-icon icon="icon-trash"></umb-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="umb-group-builder__group-add-property" ng-click="events.addField()" ng-disabled="!events.canAddField()" prevent-default>
                                <localize key="formulate-buttons_Add Field">
                                    Add Field
                                </localize>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal" ng-if="app.alias == 'Handlers'">
                    <div class="umb-group-panel">
                        <div class="umb-group-panel__header">
                            <div>
                                <localize key="formulate-introductions_Form Handlers">
                                    These are your form's handlers.
                                    Handlers allow you to perform various actions when you submit the form.
                                </localize>
                            </div>
                        </div>

                        <div class="umb-group-panel__content">
                            <!-- Render all handlers. -->
                            <div ui-sortable="sortableOptions" ng-model="handlers">
                                <!-- A handlerset for each handler. -->
                                <div ng-repeat="handler in handlers" class="formulate-handler {{handler.enabled ? '' : 'formulate-handler--disabled'}}">
                                    <div class="formulate-handler__header">
                                        <umb-icon icon="{{handler.icon}}"></umb-icon>
                                        <span class="formulate-handler__name">
                                            {{handler.name}} <small>({{handler.alias || 'no alias provided'}})</small>
                                        </span>
                                    </div>

                                    <div class="formulate-handler__actions">
                                        <button ng-click="events.editHandler(handler)" class="btn-reset formulate-handler__action" prevent-default>
                                            <umb-icon icon="icon-settings"></umb-icon>
                                        </button>
                                        <button ng-click="events.toggleHandlerEnabled(handler)" class="btn-reset formulate-handler__action" prevent-default>
                                            <umb-icon icon="icon-formulate-hide"></umb-icon>
                                        </button>
                                        <button ng-click="events.deleteHandler(handler)" class="btn-reset formulate-handler__action" prevent-default>
                                            <umb-icon icon="icon-trash"></umb-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="umb-group-builder__group-add-property" ng-click="events.addHandler()" ng-disabled="!events.canAddHandler()" prevent-default>
                                <localize key="formulate-buttons_Add Handler">
                                    Add Handler
                                </localize>
                            </button>
                        </div>
                    </div>
                </div>

            </umb-editor-container>


            <umb-editor-footer>

                <!--<umb-editor-footer-content-left>

                    <umb-breadcrumbs ng-if="ancestors && ancestors.length > 0"
                                     ancestors="ancestors"
                                     entity-type="media">
                    </umb-breadcrumbs>

                </umb-editor-footer-content-left>-->


                <umb-editor-footer-content-right>

                    <!--<umb-button ng-if="model.infiniteMode"
                                type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="close()">
                    </umb-button>-->
                    <!--<umb-button alias="returnToList"
                                ng-if="page.listViewPath && !model.infiniteMode"
                                type="link"
                                href="#{{page.listViewPath}}"
                                label-key="buttons_returnToList">
                    </umb-button>-->
                    <!-- label-key="buttons_save" -->
                    <umb-button alias="save"
                                type="submit"
                                state="saveButtonState"
                                disabled="!events.canSave()"
                                button-style="success"
                                shortcut="ctrl+s"
                                label-key="formulate-buttons_Save">
                    </umb-button>



                    <!--state="page.saveButtonState"
                    label-key="{{page.submitButtonLabelKey}}"-->

                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>


    </form>
</div>