/* Look in the assets folder at the root of the repo for the icomoon.zip,
   which contains the selection.json you can use to update the icons. */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?ddt3ea');
	src:url('fonts/icomoon/icomoon.eot?ddt3ea#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.ttf?ddt3ea') format('truetype'),
		url('fonts/icomoon/icomoon.woff?ddt3ea') format('woff'),
		url('fonts/icomoon/icomoon.svg?ddt3ea#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-formulate-layout:before {
	content: "\e901";
}
.icon-formulate-clipboard:before {
	content: "\e900";
}
.icon-formulate-data:before {
	content: "\e902";
}
.icon-formulate-values:before {
	content: "\e905";
}
.icon-formulate-validation:before {
	content: "\e903";
}
.icon-formulate-forms:before {
	content: "\e904";
}