<div>
    <umb-load-indicator ng-if="loading"></umb-load-indicator>
    <div ng-if="!loading" class="umb-dialog-body with-footer" ng-cloak>
        <div class="umb-pane">
            <h5 id="selectContentType"><localize key="create_createUnder">Create a page under</localize> {{currentNode.name}}</h5>
            
            <ul class="umb-actions umb-actions-child" ng-if="allowedOptions.length > 0" aria-labelledby="selectContentType">

                <li class="umb-action" data-element="action-create-{{option.entityType}}" ng-repeat="option in allowedOptions">
                    <button type="button" class="umb-action-link umb-outline btn-reset" ng-click="create(option)" umb-auto-focus ng-if="$index === 0">
                        <umb-icon icon="{{option.icon}}" class="icon large"></umb-icon>
                        <span class="menu-label">
                            {{option.name}}
                            <small>
                                {{option.description}}
                            </small>
                        </span>
                    </button>
                    <button type="button" class="umb-action-link umb-outline btn-reset" ng-click="create(option)" ng-if="$index !== 0">
                        <umb-icon icon="{{option.icon}}" class="icon large"></umb-icon>
                        <span class="menu-label">
                            {{option.name}}
                            <small>
                                {{option.description}}
                            </small>
                        </span>
                    </button>
                </li>

            </ul>
        </div>
    </div>

    <div ng-if="!loading" class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <button type="button" class="btn btn-info umb-outline" ng-click="closeDialog(true)">
            <localize key="buttons_somethingElse">All Actions</localize>
        </button>
    </div>
</div>