<div class="umb-panel">
    <div class="umb-panel-header">
        <h2>
            <localize key="formulate-headers_Pick Data Value">
                Pick Data Value
            </localize>
        </h2>
    </div>
    <div class="umb-panel-body with-footer">
        <formulate-entity-picker
                max-count="maxCount"
                include-root="false"
                entity-kinds="entityKinds"
                root-id="rootId"
                selection="selection">
        </formulate-entity-picker>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <button type="button" class="btn link" ng-click="cancel()">
                    <localize key="formulate-buttons_Cancel">
                        Cancel
                    </localize>
                </button>
                <button type="button" class="btn btn-primary" ng-click="select()">
                    <localize key="formulate-buttons_Select">
                        Select
                    </localize>
                </button>
            </div>
        </div>
    </div>
</div>