<div ng-if="!initialized">
    <localize key="formulate-general_Loading">
        Loading...
    </localize>
</div>
<div ng-if="initialized">
    <div>
        <!-- TODO: Find a way to localize this. -->
        Are you sure you want to delete the folder, "{{folderName}}", and all of its descendants?
    </div>
    <button type="button" class="btn btn-primary" ng-click="cancel()">
        <localize key="formulate-buttons_Cancel">
            Cancel
        </localize>
    </button>
    <button type="button" class="btn btn-primary" ng-click="deleteFolder()">
        <localize key="formulate-buttons_Delete Folder">
            Delete Folder
        </localize>
    </button>
</div>