<form name="configuredFormPickerForm" novalidate val-form-manager>
    <umb-editor-view data-element="editor-configured-form-picker">
        <umb-editor-header name="title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>
            <p>
                <localize key="formulate-instructions_Config Under Forms">
                    Note that configured forms reside under forms.
                </localize>
            </p>
            <formulate-entity-picker max-count="maxCount"
                                     include-root="false"
                                     entity-kinds="entityKinds"
                                     root-id="rootId"
                                     selection="selection"
                                     previously-selected-ids="previouslySelectedIds"
                                     wrong-kind-error="wrongKindError">
            </formulate-entity-picker>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <button type="button" class="btn btn-link" ng-click="cancel()">
                    <localize key="formulate-buttons_Cancel">
                        Cancel
                    </localize>
                </button>
                <button type="button" class="btn btn-primary" ng-click="select()">
                    <localize key="formulate-buttons_Select">
                        Select
                    </localize>
                </button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>