<div class="umb-panel formulate-cf-picker-dialog">
    <div class="umb-panel-header">
        <h2>
            <localize key="formulate-headers_Pick Configured Form">
                Pick Configured Form
            </localize>
        </h2>
        <p class="formulate-cf-picker-dialog__instructions">
            <localize key="formulate-instructions_Config Under Forms">
                Note that configured forms reside under forms.
            </localize>
        </p>
    </div>
    <div class="umb-panel-body with-footer">
        <formulate-entity-picker class="formulate-cf-picker-dialog__picker"
                                 max-count="maxCount"
                                 include-root="false"
                                 entity-kinds="entityKinds"
                                 root-id="rootId"
                                 selection="selection"
                                 wrong-kind-error="wrongKindError">
        </formulate-entity-picker>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <button type="button" class="btn link" ng-click="cancel()">
                    <localize key="formulate-buttons_Cancel">
                        Cancel
                    </localize>
                </button>
                <button type="button" class="btn btn-primary" ng-click="select()">
                    <localize key="formulate-buttons_Select">
                        Select
                    </localize>
                </button>
            </div>
        </div>
    </div>
</div>