<form novalidate name="dataValueForm"
      val-form-manager>
    <umb-panel umb-tabs>
        <umb-header tabs="info.tabs">

            <div class="span7">

                <!-- Data value name. -->
                <umb-content-name
                    ng-model="info.dataValueName"
                    placeholder="@formulate-placeholders_Data Value Name">
                </umb-content-name>

            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab1" rel="{{1}}">
                <div class="umb-pane">

                    <!-- Data value alias. -->
                    <fieldset>
                        <legend>
                            <h2>
                                <localize key="formulate-headers_Data Value Information">
                                    Data Value Information
                                </localize>
                            </h2>
                        </legend>
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label">
                                    <localize key="formulate-labels_Data Value Alias">
                                        Data Value Alias
                                    </localize>
                                </label>
                                <div class="controls controls-row">
                                    <input
                                           ng-model="info.dataValueAlias"
                                           type="text"
                                           formulate-localize-attribute="placeholder"
                                           placeholder="formulate-placeholders_Data Value Alias" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Data value. -->
                    <formulate-data-value-editor ng-if="directive" directive="directive" data="data">
                    </formulate-data-value-editor>

                    <!-- Save button. -->
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()" prevent-default>
                        <localize key="formulate-buttons_Save">
                            Save
                        </localize>
                    </button>

                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>