<formulate-entity-picker
    max-count="1"
    include-root="true"
    entity-kinds="entityKinds"
    root-id="rootId"
    selection="selection">
</formulate-entity-picker>
<div class="umb-el-wrap umb-panel-buttons">
    <div class="btn-toolbar umb-btn-toolbar pull-right">
        <button type="button" class="btn link" ng-click="cancel()">
            <localize key="formulate-buttons_Cancel">
                Cancel
            </localize>
        </button>
        <button type="button" class="btn btn-primary" ng-click="move()">
            <localize key="formulate-buttons_Move">
                Move
            </localize>
        </button>
    </div>
</div>