<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- I don't want this app setting to be used in any actual websites, so I just inject
         it using a build step so that those developing against Formulate will be able to
         see the Formulate section the first time they run the website. -->
    <add xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" key="Formulate:EnsureUsersCanAccess" value="This key will ensure that all users have access to Formulate. This is used to automatically give contributors of Formulate access to the Formulate section when they build the solution." />
  </appSettings>
</configuration>