<div ng-controller="Formulate.BackOffice.FormFieldEditorAppController">
    <div ng-if="!loading">
        <div class="umb-group-panel" ng-if="supportsGeneralSettings">
            <div class="umb-group-panel__header">
                General
            </div>
            <div class="umb-group-panel__content">
                <!-- label -->
                <div class="control-group umb-control-group -no-border" ng-if="content.model.supportsLabel">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="label">
                            <localize key="formulate-labels_Label">
                                Label
                            </localize>
                        </label>
                        <div class="controls">
                            <input type="text" name="label"
                                   ng-model="content.model.label"
                                   localize="placeholder"
                                   placeholder="@formulate-placeholders_Label"
                                   style="width:100%" />
                        </div>
                    </div>
                </div>

                <!-- The field category. -->
                <div class="control-group umb-control-group -no-border" ng-if="content.model.supportsCategory">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="category">
                            <localize key="formulate-labels_Field Category">
                                Field Category
                            </localize>
                        </label>
                        <div class="controls">
                            <select name="category" ng-model="content.model.category"
                                    ng-options="option.value as option.label group by option.group for option in categories">
                                <option value="">
                                    <localize key="formulate-options_Select a Field Category">
                                        Select a Field Category
                                    </localize>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Validations -->
                <div class="control-group umb-control-group -no-border" ng-if="content.model.supportsValidation">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="validations">
                            <localize key="formulate-labels_Field Validations">
                                Validations
                            </localize>
                        </label>
                        <div class="controls">
                            <umb-node-preview ng-repeat="validation in content.model.validations"
                                              name="validation.name"
                                              allow-remove="true"
                                              allow-open="false"
                                              on-remove="actions.removeValidation(validation)">
                            </umb-node-preview>

                            <button type="button"
                                    class="umb-node-preview-add"
                                    ng-click="actions.pickValidations()">
                                <localize key="general_add">Add</localize>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <formulate-field-editor directive="content.model.directive" configuration="content.model.configuration">
        </formulate-field-editor>
    </div>
</div>