<form name="validationPickerForm" novalidate val-form-manager>
    <umb-editor-view data-element="editor-validation-picker">
        <umb-editor-header name="title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-box-content>
                    <formulate-entity-picker include-root="false"
                                             entity-kinds="entityKinds"
                                             root-id="rootId"
                                             previously-selected-ids="previouslySelectedIds"
                                             selection="selection">
                    </formulate-entity-picker>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <button type="button" class="btn btn-link" ng-click="cancel()">
                    <localize key="formulate-buttons_Cancel">
                        Cancel
                    </localize>
                </button>
                <button type="button" class="btn btn-primary" ng-click="select()">
                    <localize key="formulate-buttons_Select">
                        Select
                    </localize>
                </button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>