<div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Sender Email">
                Sender Email
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="text" ng-model="configuration.senderEmail" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Recipient Emails">
                Recipient Emails
            </localize>
        </label>
        <div class="controls controls-row">
            <div ng-repeat="recipient in configuration.recipients">
                <div class="input-append">
                    <input type="text" ng-model="recipient.email" class="form-control" />
                    <button type="button" class="btn btn-danger" ng-click="deleteRecipient($index)">X</button>
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="addRecipient()">
                <localize key="formulate-buttons_Add Recipient">
                    Add Recipient
                </localize>
            </button>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Recipient Email Fields">
                Recipient Email Fields
            </localize>
            <small>
                <localize key="formulate-label-descriptions_Recipient Email Fields">
                    The email addresses to send the email to will be extracted from the value
                    of the fields you specify here. Useful when you want users to receive a
                    confirmation email.
                </localize>
            </small>
        </label>
        <div class="controls controls-row">
            <div ng-repeat="field in tempData.recipientFields">
                <div class="input-append">
                    <input type="text" readonly ng-model="field.name" class="form-control" />
                    <button type="button" class="btn btn-danger" ng-click="deleteRecipientField($index)">X</button>
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="addRecipientField()" ng-disabled="!tempData.recipientEmailField">
                <localize key="formulate-buttons_Add Recipient">
                    Add Recipient
                </localize>
            </button>
            <select ng-options="field.id as field.name for field in fields" ng-model="tempData.recipientEmailField">
                <option value="" formulate-inject-localization="formulate-options_Select a Field"></option>
            </select>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Subject">
                Subject
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="text" ng-model="configuration.subject" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Message">
                Message
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <textarea ng-model="configuration.message"></textarea>
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Append Fields">
                Append Fields?
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="checkbox" ng-model="configuration.appendFields" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Append Payload">
                Append Payload?
            </localize>
            <small>
                <localize key="formulate-label-descriptions_Append Payload">
                    For example, the URL and name of the page containing the form.
                </localize>
            </small>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="checkbox" ng-model="configuration.appendPayload" />
            </div>
        </div>
    </div>
</div>