<div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Sender Email">
                Sender Email
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="text" ng-model="configuration.senderEmail" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Recipient Emails">
                Recipient Emails
            </localize>
        </label>
        <div class="controls controls-row">
            <div ng-repeat="recipient in configuration.recipients">
                <div class="input-append">
                    <input type="text" ng-model="recipient.email" class="form-control" />
                    <button type="button" class="btn btn-danger" ng-click="deleteRecipient($index)">X</button>
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="addRecipient()">
                <localize key="formulate-buttons_Add Recipient">
                    Add Recipient
                </localize>
            </button>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Subject">
                Subject
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="text" ng-model="configuration.subject" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Message">
                Message
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <textarea ng-model="configuration.message"></textarea>
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Append Fields">
                Append Fields?
            </localize>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="checkbox" ng-model="configuration.appendFields" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Append Payload">
                Append Payload?
            </localize>
            <small>
                <localize key="formulate-label-descriptions_Append Payload">
                    For example, the URL and name of the page containing the form.
                </localize>
            </small>
        </label>
        <div class="controls controls-row">
            <div>
                <input type="checkbox" ng-model="configuration.appendPayload" />
            </div>
        </div>
    </div>
    <div class="umb-el-wrap">
        <label class="control-label">
            <localize key="formulate-labels_Append FieldCategories">
                Field Categories
            </localize>
            <small>
                <localize key="formulate-label-descriptions_Append FieldCategories">
                    The Field Categories to include in this email.
                </localize>
            </small>
        </label>
        <div class="controls controls-row">
            <div ng-repeat="category in categories">
                <label>
                    <input type="checkbox"
                           name="configuration.FieldCategoryFilter[]"
                           value="{{category}}"
                           ng-checked="configuration.FieldCategoryFilter.indexOf(category) > -1"
                           ng-click="toggleSelection(category)"> {{category}}
                </label>
            </div>
        </div>
    </div>
</div>