<div ng-if="!initialized">
    <localize key="formulate-general_Loading">
        Loading...
    </localize>
</div>
<div ng-if="initialized">
    <formulate-localize-content key="formulate-confirmations_Delete Layout">
    </formulate-localize-content>
    <button type="button" class="btn btn-primary" ng-click="cancel()">
        <localize key="formulate-buttons_Cancel">
            Cancel
        </localize>
    </button>
    <button type="button" class="btn btn-primary" ng-click="deleteLayout()">
        <localize key="formulate-buttons_Delete Layout">
            Delete Layout
        </localize>
    </button>
</div>