<div ng-controller="Formulate.PropertyEditors.ConfiguredFormPicker">
    <div ng-if="loaded">
        <umb-node-preview ng-if="vm.name"
                          icon="'icon-formulate-conform'"
                          name="vm.name"
                          allow-remove="true"
                          allow-open="false"
                          on-remove="events.clearPickedForm()">
        </umb-node-preview>

        <button type="button"
                class="umb-node-preview-add"
                ng-if="!vm.name"
                ng-click="events.pickConfiguredForm()">
            <localize key="general_add">Add</localize>
        </button>
    </div>
</div>
