<form name="formulateConfiguredFormDesigner" val-form-manager>
    <umb-panel umb-tabs>
        <umb-header tabs="info.tabs">
            <div class="span7">

                <!-- Configured form name. -->
                <umb-content-name
                    ng-model="info.conFormName"
                    placeholder="Configured Form Name">
                </umb-content-name>

            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab20" rel="{{20}}">

                <!-- Configured form designer. -->
                <div class="umb-pane">

                    <p>TODO: ...</p>

                    <!-- Button. -->
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()" prevent-default>Save</button>
                    </div>

                </div>

            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>