<form name="formulateConfiguredFormDesigner" val-form-manager>
    <umb-panel umb-tabs>
        <umb-header tabs="info.tabs">
            <div class="span7">

                <!-- Configured form name. -->
                <umb-content-name
                    ng-model="info.conFormName"
                    placeholder="Configured Form Name">
                </umb-content-name>

            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab20" rel="{{20}}">

                <!-- Configured form designer. -->
                <div class="umb-pane">

                    <!-- Introduction. -->
                    <p>
                        A configured form is just a form with a layout and template selected.
                        To configure this form, select a template and layout below.
                    </p>

                    <!-- Template. -->
                    <select ng-options="option.id as option.name for option in template.templates" ng-model="template.id">
                        <option value="">Select a Template</option>
                    </select>

                    <!-- Button. -->
                    <div>
                        <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()" prevent-default>Save</button>
                    </div>

                </div>

            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>