<form name="formulateFormDesigner" ng-controller="formulate.formDesigner" val-form-manager>
    <div class="umb-panel">
        <div class="umb-panel-header">
            <div class="row-fluid">
                <div class="span7">

                    <!-- Form name. -->
                    <umb-content-name ng-model="formName" placeholder="Form Name"></umb-content-name>

                </div>
            </div>
        </div>
        <div class="umb-panel-body umb-scrollable row-fluid">

            <!-- Field chooser dialog. -->
            <formulate-field-chooser show="fieldChooser.show" chosen="fieldChosen(field)"></formulate-field-chooser>

            <div class="tab-content form-horizontal">
                <div class='umb-tab-pane tab-pane active'>
                    <div class='umb-tab-pane-inner'>
                        <div class="umb-pane">

                            <!-- Form alias. -->
                            <fieldset>
                                <legend><h2>Form Information</h2></legend>
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <label class="control-label">
                                            Form Alias
                                        </label>
                                        <div class="controls controls-row">
                                            <input ng-model="formAlias" type="text" placeholder="Form Alias" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Render all fields. -->
                            <div ui-sortable="sortableOptions" ng-model="fields">
                                <fieldset ng-repeat="field in fields" class="formulate-field {{field.expanded ? 'expanded' : 'collapsed'}}">
                                    <legend>{{field.typeLabel}} ({{field.name || "Unnamed"}}) <i ng-click="toggleField(field)" class="collapser icon icon-add"></i></legend>
                                    <div class="formulate-field-details">
                                        <div class="control-group umb-control-group">
                                            <div class="umb-el-wrap">
                                                <label class="control-label">
                                                    Field Name
                                                </label>
                                                <div class="controls controls-row">
                                                    <input type="text" ng-model="field.name" placeholder="Field Name" />
                                                </div>
                                            </div>
                                            <div class="umb-el-wrap">
                                                <label class="control-label">
                                                    Field Alias
                                                </label>
                                                <div class="controls controls-row">
                                                    <input type="text" ng-model="field.alias" placeholder="Field Alias" />
                                                </div>
                                            </div>
                                            <div class="umb-el-wrap">
                                                <label class="control-label">
                                                    Field Label
                                                </label>
                                                <div class="controls controls-row">
                                                    <input type="text" ng-model="field.label" placeholder="Field Label" />
                                                </div>
                                            </div>
                                            <div>
                                                <label class="control-label">
                                                    Validations
                                                </label>
                                                <div class="controls controls-row">
                                                    <ul>
                                                        <li ng-repeat="validation in field.validations">
                                                            {{validation.name}}
                                                        </li>
                                                    </ul>
                                                    <div>
                                                        <a class="btn link" href ng-click="pickValidations(field)">Pick Validations</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <formulate-field-editor directive="field.directive">
                                            </formulate-field-editor>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <!-- Button. -->
                            <div class="btn-group">
                                <button class="btn" ng-click="addField()" ng-disabled="!canAddField()" prevent-default>Add Field</button>
                                <button class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()" prevent-default>Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>