<ul ng-class="isRoot ? 'formulate-entity-tree' : null">
    <li ng-repeat="node in nodes">
        <ins ng-click="toggleChildren(node)" ng-if="node.hasChildren" ng-class="node.expanded ? 'icon-navigation-down' : 'icon-navigation-right'" class="child-toggle">
        </ins>
        <i ng-class="isSelected(node) ? 'icon-check selected' : node.icon" class="icon entity-icon"></i>
        <a href ng-click="toggleNode(node)">{{node.name}}</a>
        <formulate-entity-picker-tree
            ng-if="node.expanded"
            max-count="maxCount"
            selection="selection"
            entity-kinds="entityKinds"
            nodes="node.children"
            is-root="false"
            wrong-kind-error="wrongKindError">
        </formulate-entity-picker-tree>
    </li>
</ul>