<div class="form-horizontal">
    <div class="umb-group-panel">
        <div class="umb-group-panel__header">
            Settings
        </div>
        <div class="umb-group-panel__content">
            <div class="control-group umb-control-group -no-border">
                <div class="umb-el-wrap">
                    <label class="control-label" for="pickForm">
                        <localize key="formulate-labels_Pick Form">Pick Form</localize>
                    </label>
                    <div class="controls">
                        <button type="button" class="btn btn-default" ng-click="context.pickForm()">Pick Form</button>
                    </div>
                </div>
            </div>
            <div class="control-group umb-control-group -no-border">
                <div class="umb-el-wrap">
                    <div class="control-header">
                        <label class="control-label" for="autoopulate">
                            <localize key="formulate-labels_autopopulate">Auto Populate</localize>
                        </label>
                        <small class="control-description">
                            Should the layout be automatically populated from the fields in the
                            form? This is more convenient, but gives you less control over the
                            layout (e.g., splitting the fields into rows and columns).
                        </small>
                    </div>

                    <div class="controls">
                        <umb-toggle checked="vm.autoPopulate"
                                    on-click="context.toggleAutoPopulate()"></umb-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <umb-box>
        <umb-box-header title="Layout"></umb-box-header>
        <umb-box-content>

            <div style="position:relative;padding: 50px;" ng-if="!vm.form.id">
                <umb-empty-state position="center">
                    Select a form to get started!
                </umb-empty-state>
            </div>

            <div style="position:relative;padding: 50px;" ng-if="vm.form.id && vm.autoPopulate">
                <umb-empty-state position="center">
                    Layout will be auto populated.
                </umb-empty-state>
            </div>

            <div ng-if="vm.form.id && !vm.autoPopulate">

                <!-- Buttons (pick form, and edit rows). -->
                <button ng-if="!editRows" type="button" class="btn btn-default" ng-click="context.toggleEditRows()">
                    <localize key="formulate-labels_Edit Rows">
                        Edit Rows
                    </localize>
                </button>
                <button ng-if="editRows" type="button" class="btn btn-default" ng-click="context.toggleEditRows()">
                    <localize key="formulate-labels_Edit Fields">
                        Edit Fields
                    </localize>
                </button>

                <!-- Add row section. -->
                <div class="formulate-add-row-section">

                    <!-- Add row instructions. -->
                    <p>
                        <localize key="formulate-instructions_Add Sample Columns Below">
                            The row will be added using the columns that you specify below.
                            Click a cell to split or join adjacent cells.
                        </localize>
                    </p>

                    <!-- The button and the neighboring cells. -->
                    <div class="formulate-add-row-button-and-cells">

                        <!-- Add row button. -->
                        <button type="button" class="btn btn-default btn-add-row" ng-click="context.addRow()">
                            <localize key="formulate-buttons_Click to Add Row">
                                Click to Add Row
                            </localize>
                        </button>

                        <!-- Sample cells for new rows. -->
                        <div class="row sample-cells">
                            <div ng-repeat="cell in vm.sampleCells" class="span1">
                                <div ng-class="context.getSampleCellClasses($index)" ng-click="context.toggleCell($index)">
                                    {{$index + 1}}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- The "Layout" header. -->
                <h2>
                    <localize key="formulate-headers_Layout">
                        Layout
                    </localize>
                    <small>
                        <localize key="formulate-header-descriptions_Layout">
                            Organize your fields into rows and columns.
                        </localize>
                    </small>
                </h2>

                <div ui-sortable="rowsSortableOptions" ng-model="vm.rows" ng-if="!vm.autoPopulate && vm.form.id">
                    <div ng-repeat="(rowIndex, row) in vm.rows" class="row">

                        <!-- Loop over cells if this is a row with cells. -->
                        <div ng-if="row.cells.length">
                            <div ng-repeat="cell in row.cells" ng-class="context.getCellClass(row, cell)">

                                <!-- Show full fields when editing fields. -->
                                <div ng-if="!editRows" class="formulate-cell" ui-sortable="fieldSortableOptions" ng-model="cell.fields">
                                    <div ng-repeat="field in cell.fields" class="formulate-cell-field">
                                        {{field.name}}
                                    </div>
                                </div>

                                <!-- Show field summaries when editing rows. -->
                                <div ng-if="editRows" class="formulate-cell editing-rows">
                                    <span ng-repeat="field in cell.fields" class="formulate-cell-field">
                                        <span class="formulate-cell-field-name">{{field.name}}</span>
                                    </span>
                                    <div>
                                        <button type="button" ng-click="context.deleteRow(rowIndex)" ng-if="$index === 0" class="btn btn-danger">
                                            <localize key="formulate-buttons_Delete Row">
                                                Delete Row
                                            </localize>
                                        </button>
                                        <button type="button" ng-click="context.addStep(rowIndex)" ng-if="$index === 0" class="btn btn-success">
                                            <localize key="formulate-buttons_Add Step">
                                                Add Step
                                            </localize>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Display a divider for a step. -->
                        <div ng-if="row.isStep" class="formulate-step-divider">
                            <span class="formulate-step-divider__contents">
                                Step #{{countStep(row)}}
                                <button ng-if="editRows" type="button" ng-click="deleteRow(rowIndex)" class="btn btn-danger formulate-step-divider__delete" aria-label="Delete Row">
                                    X
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <!-- Unused fields. -->
                <div>
                    <h2>
                        <localize key="formulate-headers_Unused Fields">
                            Unused Fields
                        </localize>
                        <small>
                            <localize key="formulate-header-descriptions_Unused Fields">
                                These are the fields you are not using for this layout.
                            </localize>
                        </small>
                    </h2>

                    <!-- Unused fields. -->
                    <div class="formulate-cell" ui-sortable="fieldSortableOptions" ng-model="vm.unusedFields">
                        <div ng-repeat="field in vm.unusedFields" class="formulate-cell-field">
                            <button type="button" class="btn btn-default formulate-btn-use" ng-click="context.useField($index)">
                                <localize key="formulate-buttons_Use">
                                    Use
                                </localize>
                            </button>
                            {{field.name}}
                        </div>
                    </div>

                </div>
            </div>
        </umb-box-content>
    </umb-box>
</div>